# Ignore all data by default
data/*

# But allow specific files/folders back in
!data/.gitkeep
!data/DRIFT_DATA_TRAIN.csv
!data/DRIFT_DATA_TEST.csv
!data/latitude_EASE.csv
!data/longitude_EASE.csv
!data/bathymetry_EASE.csv
!data/README.txt

# Common junk
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
